:root {
    /* Color Theming */
    --first-bg-color:  #252f3b; 
    --second-bg-color: #00ba5a;
    --first-font-color: white;
    --second-font-color: rgb(33, 205, 146); 
    --border-radius: 35px;
    --font-size-xs: 16px;
    --font-size-medium: 28px;
    --font-size-large: 48px;
  }
  body {
    margin: 0;
    font-family: sans-serif;
    color: #00803c;
    position: relative;
    padding-bottom: em;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}
h1{ 
	font-size: 3.5rem;
	font-weight: 500;
	color: var(--second-font-color);
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252f3b; 
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right; /*Para que se ubiquen a la derecha*/
  }

  li:last-child { /*Para que no agregue el borde separador al ultimo elemento*/
    border-right: none;
  }

  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #21cd92; 
    color: rgb(255, 255, 255);
    text-decoration: none; 
    border-radius: 35em;     
  }

  .imgcol3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-4 {
    text-align: center;
  }

  .btn {
    width: 100px;
    height: 40px;
  }

  .btn:hover{
    transform: scale(1.15);
    text-shadow: #ffffff;
  }

.container {
  float: center;
  border: #21cd92; 
  border-color: #cdb621; 
  text-align: center;
  height: 100vh; /*--------------*/
}

.col-md-4:hover {
  transform: scale(1.2);
}

  /*3 colunnas, una al lado de la otra (izquierda)*/
  
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }

 /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*Responsive design*/
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }


/*Footer*/
.footer {
    background-color: #252f3b; 
    padding: 1em 0;
    text-align: center;
    margin-top: 15%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Botones redes sociales Footer*/
button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color: #fff;
    background-color: #252f3b; 
    border: none;
    cursor: pointer;
    transition: .5s ease all;
}

small{
   color: #fff;
}

.fa-brands:hover{
  transform: scale(3);
  color: #21cd92; 
}
